
body {
    background-image: linear-gradient(to left, rgba(255, 0, 149, 0.2), rgba(0, 247, 255, 0.2))
}

.navbar-default {
    border: 0;
}

.container-fluid {
    background-color: darkorange;
}

.navbar-header {
    width: 100%;
}

.navbar-brand > img {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    margin-top: -6px;
}

.nav_title {
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    color: blue;
}

.pop > .notice_info {
    text-indent: 15px;
}

.notice_info > #clientName {
    color: blue;
}

#rec, .send_btn, .send_mate {
    color: blue;
    cursor: pointer;
    font-size: 13px;
}

#rec:hover, .send_btn:hover {
    color: #FF9632;
    font-size: 13px;
}

.active {
    color: #888;
    user-select: none;
}

/* 设置弹框默认不显示 */
.send_con {
    display: none;
}

.send_con > .send {
    width: 500px;
    /*height: 300px;*/
    padding: 5px 0 5px 0;
    border: 1px solid blue;
    background: white;
    /* 设置固定定位，让弹框相对于浏览器窗口来定位，同时可以盖住其他元素 */
    border-radius: 8px;
    position: fixed;
    /* 定位元素水平垂直居中的技巧 */
    left: 50%;
    margin-left: -251px;
    top: 40%;
    margin-top: -151px;
    /* 将弹框层级设置成一个很大的值，保证它可以盖住其它任何元素 */
    z-index: 9999;
}

/* 弹框透明背景样式 */
.send_mask {
    position: fixed;
    /* 设置为固定定位，宽度和高度就可以参照浏览器窗口的大小来设置 */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    /* 设置该属性为 9998 仅比弹框小一级确保除了弹框之外可以盖住所有元素 */
    z-index: 9998;
    /* 设置元素的透明度 */
    opacity: 0.5;
    /* 透明度兼容 ie 写法 */
    filter: alpha(opacity=50);
}

.send_con > .send > .send_info > .send_form {
    text-indent: 15px;
}

.send_con > .send > .send_info > .send_title {
    margin: 0 0 0 200px;
}

.send_con > .send > .send_info > hr {
    margin-top: 0;
}

.send_con > .send > .send_info > .send_form > p > input {
    width: 70%;
    height: 30px;
    border: 1px solid #FF9632;
    /* 清除输入框默认 padding */
    padding: 0;
    /* 去掉输入框点击时的高亮框 */
    outline: none;
    border-radius: 6px;
    text-indent: 15px;
    font-size: 13px;
}

.send_con > .send > .send_info > .send_form > .form_sub {
    width: 60px;
    height: 30px;
    background-color: yellowgreen;
    float: right;
    margin-right: 40px;
    border-radius: 5px;
    outline: none;
}

.send_con > .send > .send_info > .send_form > p > .form_hide_tag {
    display: none;
}

/*.return_btn > a {*/
/*    float: right;*/
/*    margin-right: 40px;*/
/*    width: 60px;*/
/*    height: 30px;*/
/*    border-radius: 5px;*/
/*    outline: none;*/
/*    background-color: #28a745;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/
.form_sub {
    display: none;
}

/*    接收按钮弹框 css*/
/* 设置弹框默认不显示 */
.recv_con {
    display: none;
}

.recv_con > .recv {
    width: 500px;
    /*height: 300px;*/
    padding: 5px 0 5px 0;
    border: 1px solid blue;
    background: white;
    /* 设置固定定位，让弹框相对于浏览器窗口来定位，同时可以盖住其他元素 */
    border-radius: 8px;
    position: fixed;
    /* 定位元素水平垂直居中的技巧 */
    left: 50%;
    margin-left: -251px;
    top: 40%;
    margin-top: -151px;
    /* 将弹框层级设置成一个很大的值，保证它可以盖住其它任何元素 */
    z-index: 9999;
}

/* 弹框透明背景样式 */
.recv_mask {
    position: fixed;
    /* 设置为固定定位，宽度和高度就可以参照浏览器窗口的大小来设置 */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    /* 设置该属性为 9998 仅比弹框小一级确保除了弹框之外可以盖住所有元素 */
    z-index: 9998;
    /* 设置元素的透明度 */
    opacity: 0.6;
    /* 透明度兼容 ie 写法 */
    filter: alpha(opacity=60);
}

.recv_con > .recv > .recv_info > .recv_form {
    text-indent: 15px;
}

.recv_con > .recv > .recv_info > .recv_title {
    margin: 0 0 0 200px;
}

.recv_con > .recv > .recv_info > hr {
    margin-top: 0;
}

.recv_con > .recv > .recv_info > .recv_form > p > input {
    width: 70%;
    height: 30px;
    border: 1px solid #FF9632;
    /* 清除输入框默认 padding */
    padding: 0;
    /* 去掉输入框点击时的高亮框 */
    outline: none;
    border-radius: 6px;
    text-indent: 15px;
    font-size: 13px;
}

.recv_con > .recv > .recv_info > .recv_form > .form_recv {
    width: 60px;
    height: 30px;
    background-color: yellowgreen;
    float: right;
    margin-right: 40px;
    border-radius: 5px;
    outline: none;
    display: none;
}

.recv_con > .recv > .recv_info > .recv_form > p > .form_hide_tag {
    display: none;
}

#cliId, #saleId {
    padding: 0 3px 0 3px;
    cursor: pointer;
    color: blue;
}

#cliId:hover, #saleId:hover {
    text-decoration: underline;
    color: #FF9632;
}

/* 根据用户 id 查看用户数据弹窗 */
/* 设置弹框默认不显示 */
.cli_con {
    display: none;
}

.cli_con > .cli {
    width: 500px;
    /*height: 300px;*/
    padding: 5px 0 5px 0;
    border: 1px solid blue;
    background: white;
    /* 设置固定定位，让弹框相对于浏览器窗口来定位，同时可以盖住其他元素 */
    border-radius: 8px;
    position: fixed;
    /* 定位元素水平垂直居中的技巧 */
    left: 50%;
    margin-left: -251px;
    top: 40%;
    margin-top: -151px;
    /* 将弹框层级设置成一个很大的值，保证它可以盖住其它任何元素 */
    z-index: 9999;
}

/* 弹框透明背景样式 */
.cli_mask {
    position: fixed;
    /* 设置为固定定位，宽度和高度就可以参照浏览器窗口的大小来设置 */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    /* 设置该属性为 9998 仅比弹框小一级确保除了弹框之外可以盖住所有元素 */
    z-index: 9998;
    /* 设置元素的透明度 */
    opacity: 0.6;
    /* 透明度兼容 ie 写法 */
    filter: alpha(opacity=60);
}

.cli_con > .cli > .cli_info > .cli_form {
    text-indent: 15px;
}

.cli_con > .cli > .cli_info > .cli_title {
    margin: 0 0 0 200px;
}

.cli_con > .cli > .cli_info > > hr {
    margin-top: 0;
}

.cli_con > .cli > .cli_info > .cli_form > p > input, textarea {
    width: 78%;
    height: 30px;
    border: 1px solid #eee;
    /* 清除输入框默认 padding */
    padding: 0;
    /* 去掉输入框点击时的高亮框 */
    outline: none;
    border-radius: 6px;
    background-color: #eee;
    text-indent: 15px;
    font-size: 13px;
}

.cli_con > .cli > .cli_info > .cli_btn {
    float: right;
    margin-right: 30px;
    border-radius: 6px;
    background-color: #77FFCC;
}

/* 维修按钮事件弹框 */
/* 设置弹框默认不显示 */
.Maintain_con {
    display: none;
}

.Maintain_con > .Maintain {
    width: 500px;
    /*height: 300px;*/
    padding: 5px 0 5px 0;
    border: 1px solid blue;
    background: white;
    /* 设置固定定位，让弹框相对于浏览器窗口来定位，同时可以盖住其他元素 */
    border-radius: 8px;
    position: fixed;
    /* 定位元素水平垂直居中的技巧 */
    left: 50%;
    margin-left: -251px;
    top: 40%;
    margin-top: -151px;
    /* 将弹框层级设置成一个很大的值，保证它可以盖住其它任何元素 */
    z-index: 9999;
}

/* 弹框透明背景样式 */
.Maintain_mask {
    position: fixed;
    /* 设置为固定定位，宽度和高度就可以参照浏览器窗口的大小来设置 */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    /* 设置该属性为 9998 仅比弹框小一级确保除了弹框之外可以盖住所有元素 */
    z-index: 9998;
    /* 设置元素的透明度 */
    opacity: 0.6;
    /* 透明度兼容 ie 写法 */
    filter: alpha(opacity=60);
}

.Maintain_con > .Maintain > .Maintain_info > .Maintain_form {
    text-indent: 15px;
}

.Maintain_con > .Maintain > .Maintain_info > .Maintain_title {
    margin: 0 0 0 200px;
}

.Maintain_con > .Maintain > .Maintain_info > > hr {
    margin-top: 0;
}

.Maintain_con > .Maintain > .Maintain_info > .Maintain_form > p > input, textarea {
    width: 78%;
    height: 30px;
    border: 1px solid #eee;
    /* 清除输入框默认 padding */
    padding: 0;
    /* 去掉输入框点击时的高亮框 */
    outline: none;
    border-radius: 6px;
    background-color: #eee;
    text-indent: 15px;
    font-size: 13px;
}

.Maintain_con > .Maintain > .Maintain_info > .Maintain_form > .Maintain_sub {
    float: right;
    margin-right: 30px;
    border-radius: 6px;
    background-color: #77FFCC;
}

/* 根据销售 id 查看用户数据弹窗 */
/* 设置弹框默认不显示 */
.sale_con {
    display: none;
}

.sale_con > .sale {
    width: 500px;
    /*height: 300px;*/
    padding: 5px 0 5px 0;
    border: 1px solid blue;
    background: white;
    /* 设置固定定位，让弹框相对于浏览器窗口来定位，同时可以盖住其他元素 */
    border-radius: 8px;
    position: fixed;
    /* 定位元素水平垂直居中的技巧 */
    left: 50%;
    margin-left: -251px;
    top: 40%;
    margin-top: -151px;
    /* 将弹框层级设置成一个很大的值，保证它可以盖住其它任何元素 */
    z-index: 9999;
}

/* 弹框透明背景样式 */
.sale_mask {
    position: fixed;
    /* 设置为固定定位，宽度和高度就可以参照浏览器窗口的大小来设置 */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    /* 设置该属性为 9998 仅比弹框小一级确保除了弹框之外可以盖住所有元素 */
    z-index: 9998;
    /* 设置元素的透明度 */
    opacity: 0.6;
    /* 透明度兼容 ie 写法 */
    filter: alpha(opacity=60);
}

.sale_con > .sale > .sale_info > .sale_form {
    text-indent: 15px;
}

.sale_con > .sale > .sale_info > .sale_title {
    margin: 0 0 0 200px;
}

.sale_con > .sale > .sale_info > > hr {
    margin-top: 0;
}

.sale_con > .sale > .sale_info > .sale_form > p > input, textarea {
    width: 78%;
    height: 30px;
    border: 1px solid #eee;
    /* 清除输入框默认 padding */
    padding: 0;
    /* 去掉输入框点击时的高亮框 */
    outline: none;
    border-radius: 6px;
    background-color: #eee;
    text-indent: 15px;
    font-size: 13px;
}

.sale_con > .sale > .sale_info > .sale_btn {
    float: right;
    margin-right: 30px;
    border-radius: 6px;
    background-color: #77FFCC;
}

.footer {
    width: 100%;
    color: white;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    /*height: 30px;*/
    margin-bottom: 60px;
}